<%= render 'owner_bar' %>
<ul>
  <li><%= @venue.name %></li>
  <li><%= @venue.location %></li>
  <li><%= @venue.age %></li>
  <li><%= @venue.email %></li>
  <li><%= @venue.phone %></li>
  <li><%= @venue.capacity %></li>
  <li><%= @venue.music %></li>
  <li><%= @venue.dress_code %></li>
  <li><%= @venue.website %></li>
  <li><%= @venue.category %></li>
  <li><%= @venue.owner.email %></li>
</ul>

<%= link_to 'Edit', edit_venue_path(@venue) %>
